.card {
    border: 1px solid #000;
    width: 60px;
    height: 90px;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    line-height: 80px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.card.hearts,
.card.diamonds {
    color: red;
}

.card.clubs,
.card.spades {
    color: black;
}

.deck {
    display: flex;
    flex-wrap: wrap;
}

.game {
    text-align: center;
}
