<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <div class="game">
    <div>Player 1 Card Count: {{getPlayer1CardCount()}}</div>
    <div>Player 2 Card Count: {{getPlayer2CardCount()}}</div>
    <div *ngIf="player1Card.suit" class="card {{player1Card.suit.toLowerCase()}}" (click)="playRound()">
      <span class="value">{{getCardValueName(player1Card.value)}}</span>
      <span>{{getSuitIcon(player1Card.suit)}}</span>
    </div>
    <div *ngIf="player2Card.suit" class="card {{player2Card.suit.toLowerCase()}}" (click)="playRound()">
      <span class="value">{{getCardValueName(player2Card.value)}}</span>
      <span>{{getSuitIcon(player2Card.suit)}}</span>
    </div>
    <div class="message">
      <span *ngIf="player1Wins && !winner">Player 1 wins this round.</span>
      <span *ngIf="!player1Wins && !winner">Player 2 wins this round.</span>
      <span *ngIf="winner">{{winner}}</span>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
